/listaExercicios1/nbproject/private/
/listaExercicios1/build/
/AtividadeTiposPrimitivos/nbproject/private/
/AtividadeTiposPrimitivos/build/
/exercicio9/nbproject/private/
/exercicio9/build/
/autonomiaCarro/nbproject/private/
/autonomiaCarro/build/
/hipotenusa/nbproject/private/
/hipotenusa/build/
/perimetroTriangulo/nbproject/private/