/listaExercicios1/nbproject/private/
/listaExercicios1/build/
/AtividadeTiposPrimitivos/nbproject/private/
/AtividadeTiposPrimitivos/build/
/exercicio9/nbproject/private/
/exercicio9/build/
/autonomiaCarro/nbproject/private/
/autonomiaCarro/build/
/hipotenusa/nbproject/private/
/hipotenusa/build/
/perimetroTriangulo/nbproject/private/
/ProjetoIntegrado/perimetroTriangulo/build/
/ProjetoIntegrado/Temperatura/nbproject/private/
/ProjetoIntegrado/Temperatura/build/
/Aula20170324/nbproject/private/
/ProjetoIntegrado/salarioPorHora/nbproject/private/
/ProjetoIntegrado/salarioPorHora/build/
/ProjetoIntegrado/contaTelefonica/nbproject/private/
/ProjetoIntegrado/contaTelefonica/build/