/listaExercicios1/nbproject/private/
/listaExercicios1/build/
/AtividadeTiposPrimitivos/nbproject/private/
/AtividadeTiposPrimitivos/build/
/exercicio9/nbproject/private/
/exercicio9/build/
/autonomiaCarro/nbproject/private/
/autonomiaCarro/build/
/hipotenusa/nbproject/private/
/hipotenusa/build/
/perimetroTriangulo/nbproject/private/
/ProjetoIntegrado/perimetroTriangulo/build/
/ProjetoIntegrado/Temperatura/nbproject/private/
/ProjetoIntegrado/Temperatura/build/
/Aula20170324/nbproject/private/
/ProjetoIntegrado/salarioPorHora/nbproject/private/
/ProjetoIntegrado/salarioPorHora/build/
/ProjetoIntegrado/contaTelefonica/nbproject/private/
/ProjetoIntegrado/contaTelefonica/build/
/ProjetoIntegrado/letras/nbproject/private/
/ProjetoIntegrado/letras/build/
/listaAula6/nbproject/private/
/listaAula6/build/
/ProjetoIntegrado/somaSerie2/nbproject/private/
/ProjetoIntegrado/somaSerie2/build/
/ProjetoIntegrado/somaImpares/nbproject/private/
/somaDigitos/nbproject/private/
/ProjetoIntegrado/somaDigitos2/nbproject/private/
/ProjetoIntegrado/somaDigitos2/build/
/ProjetoIntegrado/advinha/nbproject/private/
/ProjetoIntegrado/advinha/build/
/ProjetoIntegrado/codigoMorse/nbproject/private/
/ProjetoIntegrado/codigoMorse/build/
/somaInteiros/nbproject/private/
/somaInteiros/build/
/listaNum/nbproject/private/
/listaNum/build/
/maiorEntre10/nbproject/private/
/maiorEntre10/build/
/somaDez/nbproject/private/
/somaDez/build/
/listaExec2/nbproject/private/
/listaExec2/build/